# Assignment 5

In [74]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(5,end=' ')
    print(' ')

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [72]:
for i in range(7,0,-1):
    for j in range(0,i-1):
        if i is not 2:
            print(j,end=' ')
    print(' ')

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [20]:
for i in range(1,6):
    for j in range(0,i):
        k=(i*2)-1
        print(k,end=' ')
    print(' ')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [22]:
for i in range(1,6):
    k=i
    for j in range(0,i):
        print(k,end=' ')
        k=k-1
    print(' ')

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [24]:
k1=0
for i in range(1,5):
    k1+=i
    k2=k1
    for j in range(1,i+1):
        print(k2,end=' ')
        k2-=1
    print(' ')

1
3 2
6 5 4
10 9 8 7

In [26]:
for i in range(1,8):
    k=1
    for j in range(1,i+1):
        print(k,end=' ')
        k=int(k*(i-j)/j)
    print(' ')

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [27]:
for i in range(1,6):
    for j in range(1,6):
        if(j<i):
            print(i,end=' ')
        else:
            print(j,end=' ')
    print(' ')

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [30]:
for i in range(1,9):
    k=i
    for j in range(1,i+1):
        print(k,end=' ')
        k=k+i
    print(' ')

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [31]:
row=6
k=(2*row)-2
for i in range(row,-1,-1):
    for j in range(k,0,-1):
        print(end=' ')
    k+=1
    for j in range(0,i+1):
        print('*',end=' ')
    print(' ')

          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *

In [32]:
row=7
k=(2*row)-2
for i in range(0,row):
    for j in range(k,0,-1):
        print(end=' ')
    k-=1
    for j in range(0,i+1):
        print('*',end=' ')
    print(' ')

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

In [64]:
for i in range(0,6):
    for j in range(0,i+1):
        print('*',end=' ')
    print(' ')
print()
for i in range(6,0,-1):
    for j in range(0,i):
        print("*",end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [71]:
for i in range(0,5):
    for j in range(0,i+1):
        print('*',end=' ')
    print(' ')
for i in range(5,-1,-1):
    for j in range(0,i+1):
        print('*',end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [40]:
row=5
k=(2*row)-2
for i in range(0,row):
    for j in range(k,0,-1):
        print(end=' ')
    k-=2
    for j in range(0,i+1):
        print('*',end=' ')
    print(' ')
k=2
for i in range(row,0,-1):
    for j in range(0,k):
        print(end=' ')
    k+=2
    for j in range(0,i-1):
        print('*',end=' ')
    print(' ')

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [50]:
row=5
k=row-2
for i in range(row,-1,-1):
    for j in range(k,0,-1):
        print(end=' ')
    k+=1
    for j in range(0,i+1):
        print("*",end=' ')
    print(' ')
k=(2*row)-2
for i in range(0,row+1):
    for j in range(k,0,-1):
        print(end=' ')
    k-=1
    for j in range(0,i+1):
        print('*',end=' ')
    print(' ')

   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

In [66]:
row=8

for j in range(0,2*row):
    print("*",end='')
print(' ')
k=1
for i in range(row-1,0,-1):
    for j in range(0,i):
        print('*',end='')
    for x in range(0,k*2):
        print('_',end='')
    for j in range(j,-1,-1):
        print('*',end='')
    k+=1
    print(' ')

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*